<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="..\static\css\style.css">
</head>
<body>
  <div class="container px-4">

    <div class="jumbotron text-center">
      <h1 class="font-weight-bold">Mission to Mars!</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Mars News -->
    <div class="row" id="mars_news_title">
      <div class="col-md-12">
        <h2 class="heading">Latest Mars News</h2>
      </div>
    </div>
    <div class="row" id="mars_news">
      <div class="col-md-12">
    </br>
        <h4>{{mars.news_title}}</h4>
        <p>{{mars.news_paragraph}}</p>
      </div>
    </div>
    <hr>
    <!-- Mars image and information-->
    <div class="row" id="mars_info">
      <div class="col-md-8 border">
        <h3 class="heading">Featured Mars Image</h3>
        </br>
        <img src="{{ mars.featured_image }}" alt="Mars Image">
      </div>
    <!-- Mars info table-->
      <div class="col-md-4">
      </br>
        <div class="card">
          <h5 class="heading">Mars Facts</h5>
            {{mars.mars_table | safe}}  
        </div>
      </div>
    </div> 
    <hr>
    <div class="row" id="mars_hemispheres">
      <div class="col-md-8 offset -4">
        <h2 class="align-items-center"><u>Mars Hemispheres</u></h2>
      </div>
    </div>
    </br>
    <div class ="row text-center" id="hemisphere_images">
            {% for hemisphere in mars.hemisphere_image %}
              <div class="col-6 border">
              </br>
                    <div>
                      <img width="512 px" height="512 px" src="{{hemisphere.img_url | safe}}" class = "rounded mx=auto d-block" alt= "hemispheres">
                    </div>
                    <div>
                      <h4> {{ hemisphere.Title | safe }} </h4>
                    </div>
              </div>
            {% endfor %}
    </div>

  </div>

  

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

</body>

</html>   